<!DOCTYPE html>
<html>
<head>
    <title>Coupon Generator</title>
    <link rel="icon" type="image/png" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/marketing.css">
</head>
<body>


<div id="user_info_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="user_info_modal" aria-hidden="false">
    <div class="modal-header">
        <div id="err_title" class="err_title">{{ title }}</div>
    </div>
    <div class="modal-body">
        <div id='err_msg'>{{ message }}</div>
    </div>
    <div class="modal-footer err_footer">&nbsp;</div>
</div>
<script type="text/javascript" src="../static/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/coupon_main.js"></script>
<script type="text/javascript" src="../static/js/coupon.js"></script>
<script type="text/javascript" src="../static/js/form2js.js"></script>
</body>
</html>
